flows.json
[
    {
        "id": "3994e26c076367b0",
        "type": "tab",
        "label": "basic",
        "disabled": false,
        "info": ""
    },
    {
        "id": "475dbecd1d4e1b6f",
        "type": "tab",
        "label": "link flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "70745c1be3a44a52",
        "type": "tab",
        "label": "database mysql",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0fd3b0bc68b093e8",
        "type": "tab",
        "label": "Web API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d5bfc8cf5d42d546",
        "type": "tab",
        "label": "Email",
        "disabled": false,
        "info": ""
    },
    {
        "id": "76b3593f3ae41627",
        "type": "MySQLdatabase",
        "name": "hotel",
        "host": "mysql2",
        "port": "3306",
        "db": "hotel",
        "tz": "GMT+7",
        "charset": "UTF8"
    },
    {
        "id": "8e97fca67abf7e39",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8063c46eaeb88af3",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e82458cf6a87c675",
        "type": "ui_group",
        "name": "first-dashboard",
        "tab": "8e97fca67abf7e39",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fe2b0c49123c24f0",
        "type": "debug",
        "z": "3994e26c076367b0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "cde09a4799b01ae9",
        "type": "inject",
        "z": "3994e26c076367b0",
        "name": "node ku",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Halo bunda",
        "payloadType": "str",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "6c11bd52153b682b"
            ]
        ]
    },
    {
        "id": "6c11bd52153b682b",
        "type": "function",
        "z": "3994e26c076367b0",
        "name": "",
        "func": "var newString = msg.payload.replace(\"bunda\", \"momy!\")\n\nmsg.payload = newString\n\n// return { payload : newString }\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 280,
        "wires": [
            [
                "fe2b0c49123c24f0"
            ]
        ]
    },
    {
        "id": "d43e4166ccb65e84",
        "type": "inject",
        "z": "3994e26c076367b0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "test",
        "payloadType": "global",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "e120c03491775080"
            ]
        ]
    },
    {
        "id": "e120c03491775080",
        "type": "function",
        "z": "3994e26c076367b0",
        "name": "",
        "func": "value = flow.get('count')||0;\n\nvalue++;\nflow.set('count',value);\n\n// return { payload : value };\nmsg.payload = flow.get('count')\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 420,
        "wires": [
            [
                "bf0eef934d103a39"
            ]
        ]
    },
    {
        "id": "bf0eef934d103a39",
        "type": "debug",
        "z": "3994e26c076367b0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "da3e4b41553040c9",
        "type": "inject",
        "z": "3994e26c076367b0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "a29604b168f0686e"
            ]
        ]
    },
    {
        "id": "a29604b168f0686e",
        "type": "function",
        "z": "3994e26c076367b0",
        "name": "",
        "func": "flow.set('count',0);\nreturn {payload : flow.get('count')};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 500,
        "wires": [
            [
                "bbb31b070a75795f"
            ]
        ]
    },
    {
        "id": "88dc9b97e0c0529e",
        "type": "link in",
        "z": "475dbecd1d4e1b6f",
        "name": "",
        "links": [
            "bbb31b070a75795f"
        ],
        "x": 105,
        "y": 240,
        "wires": [
            [
                "4d46a7a07e31a130"
            ]
        ]
    },
    {
        "id": "217e135994b33680",
        "type": "debug",
        "z": "475dbecd1d4e1b6f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 220,
        "wires": []
    },
    {
        "id": "bbb31b070a75795f",
        "type": "link out",
        "z": "3994e26c076367b0",
        "name": "contoh",
        "links": [
            "88dc9b97e0c0529e"
        ],
        "x": 575,
        "y": 500,
        "wires": []
    },
    {
        "id": "4d46a7a07e31a130",
        "type": "function",
        "z": "475dbecd1d4e1b6f",
        "name": "",
        "func": "msg.payload = msg.payload + 12\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 260,
        "wires": [
            [
                "217e135994b33680"
            ]
        ]
    },
    {
        "id": "e83ee1696b62a059",
        "type": "inject",
        "z": "70745c1be3a44a52",
        "name": "Query",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from Persons;",
        "payloadType": "date",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "f8384008516d0141"
            ]
        ]
    },
    {
        "id": "72174c24c2c5a99f",
        "type": "debug",
        "z": "70745c1be3a44a52",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "cdb26a845658c1f2",
        "type": "function",
        "z": "70745c1be3a44a52",
        "name": "",
        "func": "var require = global.get('require');\nvar mysql = require('mysql');\n\n// var mysql = global.get(\"mysql\");\n// var mysql = require(\"mysql2\");\n\nvar con = mysql.createConnection({\n  host: \"mysql_ku\",\n  user: \"root\",\n  password: \"123\"\n});\n\n\n// msg.payload = con.connect(function(err) {\n//   if (err) throw err;\n//   console.log(\"Connected!\");\n// });\n\nmsg.payload = [];\nmsg.payload[0] = con.connect();\n\nmsg.payload[1] = con.query(\n    \"show databases\"\n  );\n// msg.payload = con;\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 360,
        "wires": [
            [
                "3630b80ac78c00ad"
            ]
        ]
    },
    {
        "id": "f26b471d165e1fb1",
        "type": "inject",
        "z": "70745c1be3a44a52",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "cdb26a845658c1f2"
            ]
        ]
    },
    {
        "id": "3630b80ac78c00ad",
        "type": "debug",
        "z": "70745c1be3a44a52",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "02699c8660beb0fa",
        "type": "inject",
        "z": "0fd3b0bc68b093e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "75fa84135bae4766"
            ]
        ]
    },
    {
        "id": "75fa84135bae4766",
        "type": "http request",
        "z": "0fd3b0bc68b093e8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.nytimes.com/svc/books/v3/lists/names.json?api-key=MdZc0WYGaqdQjzojBELdI0z3vIWpGG6l",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 310,
        "y": 220,
        "wires": [
            [
                "af94e4a985250867",
                "bfdf778b872ad2a0"
            ]
        ]
    },
    {
        "id": "f1b3fab4f41233d3",
        "type": "debug",
        "z": "0fd3b0bc68b093e8",
        "name": "API Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "f8384008516d0141",
        "type": "mysql",
        "z": "70745c1be3a44a52",
        "mydb": "76b3593f3ae41627",
        "name": "",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "72174c24c2c5a99f"
            ]
        ]
    },
    {
        "id": "ea535cca6e144b62",
        "type": "e-mail",
        "z": "d5bfc8cf5d42d546",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "satrialaksana12@gmail.com",
        "dname": "Sakanario",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "2113dbd118785144",
        "type": "inject",
        "z": "d5bfc8cf5d42d546",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "node red lagi",
        "payload": "ini pake app password",
        "payloadType": "str",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "ea535cca6e144b62"
            ]
        ]
    },
    {
        "id": "af94e4a985250867",
        "type": "function",
        "z": "0fd3b0bc68b093e8",
        "name": "",
        "func": "\nmsg.payload = msg.payload.results[0]\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 300,
        "wires": [
            [
                "f1b3fab4f41233d3",
                "ad5315978043f159"
            ]
        ]
    },
    {
        "id": "bfdf778b872ad2a0",
        "type": "debug",
        "z": "0fd3b0bc68b093e8",
        "name": "full api debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "ad5315978043f159",
        "type": "e-mail",
        "z": "0fd3b0bc68b093e8",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "satrialaksana12@gmail.com",
        "dname": "Sakanario",
        "x": 740,
        "y": 380,
        "wires": []
    }
]